.sidebar {
    width: 250px;
    background-color: #ffffff;
    height: 100vh;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.05);
    padding: 1.5rem;
  }
  
  .logo {
    width: 100%;
    max-width: 150px; /* control logo size */
    height: auto;
    display: block;
    margin: 0 auto 2rem auto; /* center it and add bottom spacing */
  }
  
  .sidebar nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar nav ul li {
    padding: 0.5rem 0;
    font-size: 1rem;
    color: #666;
    cursor: pointer;
  }
  
  .sidebar nav ul li:hover,
  .sidebar nav ul li.active {
    color: #000;
    font-weight: bold;
    font-size: 1rem;
  }
  